{% extends 'raftel base.html' %}

{% block raftel %}


<center>


<h4>{{ title_list[0] }}</h4>

<div class="card" style="background-color: #16bab2;" style="width: 20rem;">
  <img src="{{ image }}" class="card-img-top" alt="..." width="300" height="250">
  
  <div class="card-img-overlay">
      <button type="button" class="btn btn-warning" class="card-title">{{ ratings }}</button>
  </div>
   
  <ul class="list-group list-group-flush" class="text-bg-info">
      <li class="list-group-item">Episodes: {{ episodes }}</li>
      <li class="list-group-item">Aired: {{ aired }}</li>
      <li class="list-group-item">Score: {{ score }}</li>
      <li class="list-group-item"> Rated {{ ratings }}</li>
      <li class="list-group-item">Studio: {{ studio }}</li>
      <li class="list-group-item">
          <a href="{{ trailer }}" class="card-link">Trailer</a>
      </li>
      <li class="list-group-item">
          <a href="https://www.crunchyroll.com/" class="card-link">Watch</a>
      </li>
      
  </ul>
    
  <div class="card-body">    
    <h5 class="card-title">Synopsis</h5>
    <h6 class="card-text">{{ synopsis }}</h6>    
  </div>
  
</div>



<br>
<br>

<h4> Recommended </h4>

<div class="scroll-container">
  {% for t in range(lengths2) %}
  <div class="div6">
    <a href="#">
      <img  src={{ image_recommendations[t] }} alt="Image 1" width="200" height="250" >
    </a>
    <p class="overflow-ellipsis"> {{ title_recommendations[t] }}</p>
  </div>
  {% endfor %}
  
  
</div>




<br>
<br>

</center>



{% endblock %}